<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Quitanda do Zé - Página Home</title>
</head>

<body>

    <header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-success shadow border-bottom border-dark border-opacity-50"></span>
        <div class="container">
          <i class="bi bi-shop-window text-white fs-3 fw-bold pe-4"></i>
          <a class="navbar-brand fs-4 fw-bold text-white" href="#">Quitanda do Zé</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#">Quem somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#">Contato</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-danger" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    
      <main class="flex-fill">
        
        <h1 class="text-center p-3" style="margin: 0 auto;">Ofertas da Semana</h1>
        <div class="container">
          <div class="row">

            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000001.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Banana</h5>
                  <p class="card-text"> Uma fruta tropical, amarela e doce, rica em potássio e versátil para o consumo.</p>
                  <a href="#" class="btn btn-primary disabled">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000002.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Abacaxi</h5>
                  <p class="card-text">Uma fruta tropical de sabor agridoce, com uma textura suculenta e aroma refrescante.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000003.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mamão</h5>
                  <p class="card-text">Uma fruta de polpa alaranjada, suave e adocicada, conhecida por seus benefícios à digestão.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000004.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maçã</h5>
                  <p class="card-text">Uma fruta crocante e variada, de cores vibrantes, rica em antioxidantes e vitaminas.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000005.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Goiaba</h5>
                  <p class="card-text">Fruta de polpa suculenta e sabor adocicado, rica em vitamina C e fibras.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000006.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Laranja</h5>
                  <p class="card-text">Uma fruta cítrica, refrescante e cheia de vitamina C, ideal para sucos e lanches saudáveis.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000007.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Abacate</h5>
                  <p class="card-text">Fruta cremosa, rica em gorduras saudáveis, perfeita para guacamole e saladas.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000008.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cenoura</h5>
                  <p class="card-text">Uma raiz alaranjada, rica em betacarotenos, que contribui para a saúde dos olhos.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000009.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Abóbora</h5>
                  <p class="card-text">Um vegetal de polpa alaranjada, ideal para sopas e pratos saudáveis.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000010.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Abobrinha</h5>
                  <p class="card-text">Um vegetal versátil, com textura suave, ótimo para grelhar ou fazer espaguete de legumes.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000011.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Couve-Flor</h5>
                  <p class="card-text"> Um vegetal crucífero, de sabor suave, ideal para acompanhamentos e pratos de baixa caloria.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 p-3">
              <div class="card shadow mb-3 bg-white rounded">
                <img src="img/produtos/000012.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tomate</h5>
                  <p class="card-text">Um fruto vermelho e suculento, essencial na culinária, rico em licopeno e vitaminas.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

   
    <footer>
      <footer class="border-top bg-light shadow border-3 border-dark border-opacity-25">
        <div class="container">
            <div class="row py-2">
                <div class="col-12 col-md-4 text-center">
                    &copy; 2023 - Quitanda do Zé LTDA-ME<br>
                    Rua Érico Pimentel Dias, 187, Itapeva/SP
                    <br>CNPJ 99.999.999/0001-99
                </div>
                <div class="col-12 col-md-4 text-center">
                    Política de Privacidade<br>Termos de uso<br>Trocas e Devoluções
                <br>
                </div>
                <div class="col-12 col-md-4 text-center">
                    Contato pelo Site<br>E-mail: contato@quitandadoze.com.br<br>Cel: (15) 99999-9999
                    <br>
                </div>
            </div>
        </div>
    </footer>
    </footer>
    
     <!-- bootstrap JS -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
