{% extends 'modelo.html' %}
{% block conteudo %}

<div id="login">
    {% if msg %}
    <h2 class="msgerro">{{ msg }}</h2>
    {% endif %}
    <form action="/acesso" method="post" class="flex-fill">
        <h2>Acesso do adm: </h2>
        <label>Usuário: </label>
        <input type="text" name="usuario" id="usuario" required>
        <br><br>
        <label>Senha: </label>
        <input type="password" name="senha" id="senha" required>
        <br><br>
        <input type="submit" value="ACESSO" name="ACESSO" class="botao">
    </form>

</div>
{% endblock %}