<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <title>Quitanda do Zé - Página Home</title>
</head>

<body>

  <header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-success shadow border-bottom border-dark border-opacity-50"></span>
        <div class="container">
          <i class="bi bi-shop-window text-white fs-3 fw-bold pe-4"></i>
          <a class="navbar-brand fs-4 fw-bold text-white" href="#">Quitanda do Zé</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#">Quem somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#">Contato</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-danger" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

  <main class="mmainsobre">
    <div class="story">
      <h2>Nossa história</h2>
      <div class="story1">
        <p>A Quitanda do Zé tem suas raízes na simplicidade e no empreendedorismo de José Carlos Pereiras, um homem do
          interior paulista que decidiu compartilhar os sabores da terra com sua comunidade. A história da Quitanda do Zé
          é um exemplo de perseverança e crescimento gradual.
          <br><br>Tudo começou quando Zé, como é carinhosamente chamado, saiu pelas ruas com seu carrinho de mão carregado de
          frutas e verduras frescas. De porta em porta, ele oferecia seus produtos, conquistando a confiança de seus
          primeiros clientes.
        </p>
        <figure class="imagem">
          <img src="img/sobre/img1.jpeg" id="img1">
        </figure>
      </div>

      <div class="story2">
        <p>Com o tempo, a demanda por suas mercadorias cresceu, e Zé tomou uma decisão audaciosa. Ele montou uma
          modesta barraca na feira municipal, onde a Quitanda do Zé logo se tornou uma parada obrigatória para os
          moradores em busca de alimentos frescos e saborosos. A qualidade dos produtos e o atendimento caloroso fizeram
          com que a Quitanda do Zé se destacasse.
          <br><br>À medida que o tempo passava, Zé e sua equipe mantiveram-se fiéis a seus valores de oferecer produtos
          de alta qualidade e um atendimento acolhedor. Isso atraiu cada vez mais clientes leais.</p>
        <figure class="imagem">
          <img src="img/sobre/img2.jpeg" id="img2">
        </figure>
      </div>
    </div>

    <div class="acord">
      <h2>Nossa identidade</h2>
    <!-- ACORDION -->
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-success-subtle" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
            Missão
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">A missão da Quitanda do Zé é simples e clara: fornecer alimentos frescos,
            saudáveis e saborosos a preços acessíveis. Eles se comprometem a atender as necessidades de seus clientes
            com produtos de qualidade superior e a criar um ambiente acolhedor que celebre a comunidade local.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-success-subtle" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
            Visão
            <img>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">A visão de Zé é continuar a crescer e a servir a comunidade. Ele sonha em expandir
            a Quitanda do Zé para outras regiões, compartilhando os sabores únicos de seu local de origem. Ele acredita
            que a paixão pela qualidade e o compromisso com o cliente são os pilares para um futuro brilhante.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-success-subtle" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
            Valores
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">A Quitanda do Zé se baseia em valores sólidos: <br> Qualidade: Eles se esforçam
            para fornecer produtos da mais alta qualidade, cultivados localmente sempre que possível.
            <br><strong>Honestidade:</strong> A transparência e a integridade estão no centro de tudo o que fazem.
            <br><strong>Comunidade:</strong> Eles são parte da comunidade e se dedicam a apoiá-la.
            <br><strong>Atendimento ao Cliente:</strong> Cada cliente é um amigo, e eles tratam todos com carinho e respeito.
            <br> Comprometem-se a adotar práticas sustentáveis em suas operações.
            <br>Hoje, a Quitanda do Zé é uma parte essencial da vida da comunidade local. Zé e sua equipe continuam a
            trabalhar com paixão e dedicação, trazendo a essência do campo para a cidade.
          </div>
        </div>
      </div>
    </div>
     <!-- FIM DO ACORDION -->
    <img src="img/sobre/img3.jpeg" id="img3">
  
  </div>

  </main>

    <footer class="border-top bg-light shadow border-3 border-dark border-opacity-25">
      <div class="container">
          <div class="row py-2">
              <div class="col-12 col-md-4 text-center">
                  &copy; 2023 - Quitanda do Zé LTDA-ME<br>
                  Rua Érico Pimentel Dias, 187, Itapeva/SP
                  <br>CNPJ 99.999.999/0001-99
              </div>
              <div class="col-12 col-md-4 text-center">
                  Política de Privacidade<br>Termos de uso<br>Trocas e Devoluções
              <br>
              </div>
              <div class="col-12 col-md-4 text-center">
                  Contato pelo Site<br>E-mail: contato@quitandadoze.com.br<br>Cel: (15) 99999-9999
                  <br>
              </div>
          </div>
      </div>
  </footer>

  <!-- bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>


</html>